.card {
    width: 230px;
    border-radius: 20px;
    background: #1b233d;
    padding: 10px;
    /* margin: 10px 80px 10px 80px; */
    margin:5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .svg{
    font-size: 10px;
  }
  
  .card:hover {
    transform: scale(1.005);
  }
  
  .card .topSection {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
  }
  
  .card .topSection .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
  }
  
  .card .topSection .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .card .topSection::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .card .topSection .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .card .topSection .icons .logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 7px 0 7px 15px;
  }
  
  .card .topSection .icons .logo .topSection {
    height: 100%;
  }
  
  .card .topSection .icons .socialMedia {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
  }
  
  .card .topSection .icons .socialMedia .svg {
    height: 100%;
    fill: #1b233d;
  }
  
  .card .topSection .icons .socialMedia .svg:hover {
    fill: white;
  }

  .socialMedia svg{
    cursor: pointer;
  }
  .socialMedia svg:hover{
    transform: scale(1.2);
  }
  
  .card .bottomSection {
    margin-top: 15px;
    padding: 10px 5px;
  }
  
  .card .bottomSection .title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .card .bottomSection .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card .bottomSection .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
  }
  
  .card .bottomSection .row .item .bigText {
    font-size: 12px;
    display: block;
  }
  
  .card .bottomSection .row .item .regularText {
    font-size: 9px;
  }
  
  .card .bottomSection .row .item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
  }