.contactSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vw;
    background-color: #f5f5f5;
}

.description{
    font-size: 3rem;
    font-weight: 700;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    width: 25%;
    height: 100%;
}

.contactForm div{
    background-color: #fff;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactForm button{
    margin-left: 40%;
}