.contactSection {
  height: auto; /* Accommodate content height */
  background-color: #000;
  color: #ffffff;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


.contactSection section{
  width: 50%;
}

.contactSection h2 {
  transform: rotate(-90deg);
  margin-bottom: 2rem;
  font-size: 2rem; /* Adjust size for better responsiveness */
}

.description {
  margin-bottom: 2rem;
}

.description h1{
  font-size: 2rem;
  font-weight: bold;

}

.contactForm {
  width: 100%; /* Ensure full width on mobile */
  max-width: 500px; /* Max width for better layout */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactForm label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.contactForm input,
.contactForm textarea {
  background-color: #333;
  border: none;
  padding: 1rem;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: #bbbbbb;
}

.contactImg {
  max-width: 40%; /* Ensure image does not exceed container width */
  height: auto;
  margin-top: 2rem; /* Add margin for spacing */
}

@media (max-width: 768px) {
  .contactSection {
    padding: 1rem;
    flex-direction: column; /* Ensure column layout on smaller screens */
    align-items: center; 
    justify-content: center;
  }

  .contactSection section {
    width: 100%; /* Ensure full width for better layout */
  } 

  .contactSection h2 {
    font-size: 1.5rem; /* Smaller font size for smaller screens */
    transform: rotate(0); /* Remove rotation for better mobile view */
    margin-bottom: 1rem;
  }

  .contactForm {
    width: 90%; /* Ensure form takes most of the screen width */
    max-width: 100%;
  }

  .contactImg {
    max-width: 250px; /* Adjust size for smaller screens */
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .contactSection h2 {
    font-size: 1.2rem; /* Further reduce font size for very small screens */
  }
}
